
    <nav class="navbar navbar-inverse navbar-fixed-top custom-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/home']">Blaine's Comic Database</a>
            </div>
            <ul class="nav navbar-nav">
                
                <li><a  [routerLink]="['/comicSearch']">Search by character</a></li>
                
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>